<app-loading [loading]="loading"></app-loading>

<div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 4, lg: 4, xl: 4, xxl: 4 }">
  <div class="card-main card-style" nz-col [nzSpan]="4" [nzOffset]="1" [nzPush]="1"
       *ngFor="let pic of photoWallModel.photoList;">
    <nz-card nzHoverable
             [nzHoverable]="true"
             [nzBodyStyle]="{padding: 0,zoom: 1}"
             [nzLoading]="loading">
      <div class="ant-card-cover" style="overflow: hidden;">
        <img alt="example" src="{{pic.picSrc}}"/>
      </div>
      <nz-card-meta [nzTitle]="pic.title" [nzDescription]="pic.description" style="padding: 24px"></nz-card-meta>
    </nz-card>
  </div>
</div>
<div class="load-more" *ngIf="!loading && photoWallModel.hasNextPage">
  <button nz-button style="min-width: 13%" (click)="loadMore()"> >> 载入更多</button>
</div>
<!--可参照网易云 镶嵌一条menu-->
