<div nz-row [nzGutter]="{ xs: 4, sm: 4, md: 4, lg: 4, xl: 4, xxl: 4 }">
  <div nz-col [nzSpan]="4" [nzOffset]="1" [nzPush]="1"  *ngFor="let pic of picList" style="margin-top: 20px">
    <nz-card nzHoverable [nzCover]="coverTemplate"[nzHoverable]="true">
      <nz-card-meta nzTitle="Europe Street beat" nzDescription="www.instagram.com"></nz-card-meta>
    </nz-card>
  </div>
</div>

<ng-template #coverTemplate>
  <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png"/>
</ng-template>
