.logo {
  width: 120px;
  height: 31px;
  background: rgba(189, 189, 189, 0.2);
  margin: 16px 24px 17px 37px;
  float: left;
}

.float-right {
  float: right;
}

.user-operate{
  margin-top: 27px;
}
