.logo {
  background-image: url("../../../assets/img/logos.png");
  min-width: 172px;
  height: 23%;
  background-size: cover;
  float: left;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  margin-top: 35px;
  margin-left: 5%;
}

.nz-menu-class {
  line-height: 45px;
  height: 96px;
  margin-top: -95px;
  float: right;
  margin-right: 8%;
}

@media screen and (max-width: 420px) {
  .nz-menu-class {
    line-height: 45px;
    height: 75px;
    margin-top: -34px;
  }
  .nz-menu-class li {
    text-align: center;
    float: none;
    padding-right: 15px;
    margin-left: 5px;
  }
}

.first-menu {
  border: none;
  width: 240px;
  margin-left: -28px;
}

.first-menu li, span {
  margin-top: 1.7rem;
  font-family: Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin-bottom: -1rem;
  font-size: 17px;
}

.second-menu li {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: -17px;
}

.content {
  background: #fff;
  min-height: 360px;
  padding: 27px 20rem;
}

.user-operate {
  margin-top: 40px;
}
