<nz-layout>
  <nz-layout>
    <nz-header style="background: #fff;padding-top: 2rem;height: 8rem;">
      <button nz-button nzType="dashed" (click)="visible = true" [nzSize]="'large'" style="min-width: 5%;position: fixed;">
        MENU<i nz-icon type="bars" theme="outline"></i>
      </button>
      <h1 style="text-align: center">LIFE IS FANTASIC</h1>
    </nz-header>
    <nz-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
  <i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>

<nz-drawer #nzDrawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
           [nzMaskClosable]="true"
           [nzWidth]="240"
           [nzVisible]="visible"
           [nzPlacement]="'left'"
           nzTitle="MENU"
           (nzOnClose)="close()">
  <!--<app-register></app-register>-->
  <ul nz-menu [nzMode]="'inline'" [nzTheme]="'light'" class="first-menu">
    <li nz-menu-item [nzSelected]="true">
      <i nz-icon type="home"></i>
      <a class="inline-table" routerLink="/" (click)="close()">主页</a>
    </li>
    <li nz-menu-item>
      <i nz-icon type="picture"></i>
      <a class="inline-table" routerLink="/photo_wall" (click)="close()">照片</a>
    </li>
    <li nz-menu-item>
      <i nz-icon type="coffee"></i>
      <a class="inline-table" routerLink="/coffee" (click)="close()">咖啡</a>
    </li>
    <li nz-submenu>
      <span title><i nz-icon type="coffee"></i>生活</span>
      <ul class="second-menu">
        <li nz-menu-item>
          <i nz-icon type="video-camera"></i>
          <a class="inline-table" routerLink="/movie" (click)="close()">电影</a>
        </li>
        <li nz-menu-item><i nz-icon type="cloud"></i>音乐</li>
        <li nz-menu-item><i nz-icon type="book"></i>读书</li>
        <li nz-menu-item><i nz-icon type="book"></i>快递</li>
        <li nz-menu-item><i nz-icon type="book"></i>账单</li>
      </ul>
    </li>
  </ul>
</nz-drawer>
