/* You can add global styles to this file, and also import other style files */
@import '~swiper/dist/css/swiper.css';
.mgt-20{
  margin-top: 20px;
}
.mgl-5-percent{
  margin-left: 5%;
}
.mgr-5-percent{
  margin-right: 5%;
}


